{% extends "base.html" %}

{% block body %}
<center>
    <div class="BODY">
        <h1><u>FAQ</u></h1>
        <h3><u>What is Robotics?</u></h3>
        <p style="font-size: 25px;">Robotics is a team of students who compete in the FIRST Robotics Competition which is a worldwide robotics competition for high-school aged students. When the game is released to the public students have 6 weeks to construct a robot to complete certain tasks for for the competitions</p>
        <p style="font-size: 25px;">To learn more about the First Robotics competitions click here (insert link here) </p>
        <h3><u>What kind of robots are being made?</u></h3>
        <p style="font-size: 25px;">The bots are substantial, weighing over 100 Ibs, and each team creates custom designs for their robot for each season as well builds a new robot from scratch for each season. Students prototype solutions to the game and then fabricates their custom robot with metal wood and 3D printed parts. The bots are powered by batteries similar to car batteries to run the motors pneumatics encoders cameras and other sensors that are on the robot which is all controled by software that is made by the students to allow their robot to function. Each robot is made by the team's vision of how they thing they can solve that year's game.</p>
        <p style="font-size: 25px;">Here is an image of our 2019 - 2020 robot (insert image here)</p>
    </div>
</center>

{% endblock %}
