{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <div class="BODY">
            <u><h1>Perkiomen Valley Retrobotics</h1></u>
            <h2>Team #7414 in the FRC</h2>
            <br>
            <h3>About us</h3>
            <p>The Perkiomen Valley Retrobotics team is a club meant to combine multiple different skill sets to build robots.
                <br>The club allows good teamwork, perseverance and hard work.Teams work together against a time
                <br> a time constraints in order to build a robot to complete tasks at the FIRST Robotics Competition.
                <br>An international high school robotics competition that gives students real world engineering experience.</p>
            <br>
            <h3>Calendar</h3>
            <iframe src="https://calendar.google.com/calendar/embed?src=perkiomenvalleyrobotics%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

            <h2>Have Any Questions? Contact Us!</h2>
            <h9>509 Gravel Pike</h9>
            <br>
            <h9>Collegeville, Pennylvania</h9>
            <br>
            <h9>PerkiomenValleyRobotics@gmail.com</h9>
            <br>
            <br>
        </div>
    </center>
</class>

{% endblock %}