{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <u><h1>Perkiomen Valley Retrobotics</h1></u>
        <h2>Team #7414 in the FRC</h2>
        <br>
        <h2>About us</h2>
        <p>The Perkiomen Valley Retrobotics team is a club meant to combine multiple different skill sets to build robots.
            <br>The club allows good teamwork,perseverance and hard work.Teams work together against a time
            <br> a time constraints in order to build a robot to complete tasks at the FIRST Robotics Competition.
            <br>An international high school robotics competition that gives students real world engineering experience.</p>
        <br>
        <h2>Calendar</h2>
        <iframe src="https://calendar.google.com/calendar/embed?src=perkiomenvalleyrobotics%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <br>
        <h2>Have Any Questions Contact Us!</h2>
        <p>509 Gravel Pike</p>
        <p>Collegeville, Pennylvania</p>
        <p>PerkiomenValleyRobotics@gmail.com</p>
    </center>
</class>

{% endblock %}