{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <div class="BODY">
            <u><h1>Perkiomen Valley Retrobotics</h1></u>
            <h2>Team #7414 in the FRC</h2>
            <br>
            <h3><u>About us</u></h3>
            <p style="font-size: 25px;">The Perkiomen Valley Retrobotics team is a club meant to combine multiple different skill sets to build robots.
                The club allows good teamwork, perseverance and hard work.Teams work together against a time
                a time constraints in order to build a robot to complete tasks at the FIRST Robotics Competition.
                An international high school robotics competition that gives students real world engineering experience.</p>
            <br>
            <h3><u>Calendar</u></h3>
            <iframe src="https://calendar.google.com/calendar/embed?src=perkiomenvalleyrobotics%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="750" height="562" frameborder="0" scrolling="no"></iframe>

            <h3>Have Any Questions? Contact Us!</h3>
            <div style="float: left; clear: right; margin:1%;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.532099881706!2d-75.45627968461011!3d40.219469979388656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c69a3e5a9aaa73%3A0x49e98cb10a5e6f64!2s509%20Gravel%20Pike%2C%20Collegeville%2C%20PA%2019426!5e0!3m2!1sen!2sus!4v1595223251411!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0; align: left;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe></div>
            <br>
            <br>
            <p style="font-size: 25px;">
            509 Gravel Pike<br><br><br>
            Collegeville, Pennylvania<br><br><br>
            PerkiomenValleyRobotics@gmail.com</p>
            <br>
            <br>
        </div>
    </center>
</class>

{% endblock %}