{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <h2>Welcome to our updates page!</h2>

        <h1>Post an Update</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>
            <select name="tag" id="tag" required>
                <option value="Other" disabled selected>Choose a Flair</option>
                <option value="Code">Code</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Electrical">Electrical</option>
                <option value="Business">Business</option>
                <option value="Other">Other</option>
            </select>
            <p>{{ form.submit() }}</p>
        </form>
    </center>
</class>

{% endblock %}