{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <h2>Welcome to our updates page!</h2>

        <h1>Post an Update</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </center>
</class>

{% endblock %}