{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <h2>Welcome to our task page!</h2>
        <div class="BODY" style="text-align:left;"id="code">
            <h2 style="background: DodgerBlue; padding: 10px; color: lightgray; text-align: center; width: 4.5ch;"><b>Code</b></h2>
            <ul style="height: auto; width: 40vw;">
                {% for task in codeTasks %}

                <li style="color: {{ task.color }}; font-size:20px; float:none; display:block;"> {{ task.task }}<a href="/Tasks?claim=code&id={{ task.id }}" style="font-size:15px; float:right; clear: right; padding: 5px; margin: 0px;">{{ task.claimText }}</a></li>

                {% endfor %}
            </ul>
        </div>
        <div class="BODY" style="text-align:left;"id="mechanical">
            <h2 style="background: Tomato; padding: 10px; color: lightgray; text-align: center; width: 10.5ch;"><b>Mechanical</b></h2>
            <ul style="height: auto; width: 40vw;">
                {% for task in mechanicalTasks %}

                <li style="color: {{ task.color }}; font-size:20px; float:none; display:block;"> {{ task.task }}<a href="/Tasks?claim=mechanical&id={{ task.id }}" style="font-size:15px; float:right; clear: right; padding: 5px; margin: 0px;">{{ task.claimText }}</a></li>

                {% endfor %}
            </ul>
        </div>
        <div class="BODY" style="text-align:left;" id="electrical">
            <h2 style="background: Orange; padding: 10px; color: lightgray; text-align: center; width: 9.5ch;"><b>Electrical</b></h2>
            <ul style="height: auto; width: 40vw;">
                {% for task in electricalTasks %}

                <li style="color: {{ task.color }}; font-size:20px; float:none; display:block;"> {{ task.task }}<a href="/Tasks?claim=electrical&id={{ task.id }}" style="font-size:15px; float:right; clear: right; padding: 5px; margin: 0px;">{{ task.claimText }}</a></li>

                {% endfor %}
            </ul>
        </div>
        <div class="BODY" style="text-align:left;" name="business">
            <h2 style="background: MediumSeaGreen; padding: 10px; color: lightgray; text-align: center; width: 8.5ch;"><b>Business</b></h2>
            <ul style="height: auto; width: 40vw;">
                {% for task in businessTasks %}

                <li style="color: {{ task.color }}; font-size:20px; float:none; display:block;"> {{ task.task }}<a href="/Tasks?claim=business&id={{ task.id }}" style="font-size:15px; float:right; clear: right; padding: 5px; margin: 0px;">{{ task.claimText }}</a></li>

                {% endfor %}
            </ul>
        </div>
    </center>
</class>

{% endblock %}