{% extends "base.html" %}

{% block body %}
<class>
    <center>
        <h2>Updates</h2>
        <div class="BODY" style="text-align:left;"id="code">
            <form method="POST" action="" novalidate>
                <label name="message"><u><b>Create a new Post</b></u></label>
                <input type="text" name="message" >
            </form>
            <ul style="height: auto; width: 40vw;">
                {% for update in updates %}
                <li style="font-size:20px; float:none; display:block;"> {{ update.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </center>
</class>

{% endblock %}
