{% extends "base.html" %}

{% block body %}
<center>
    <div class="BODY">
        <h1>Want to Volunteer?</h1>
        <p style="font-size: 25px;">
            Anyone can volunteer at PV's Robotics Club! You don't need any engineering, programming,
            or business experience, and you don't need to be a PV Parent in order to volunteer!
            <br>
            <br>
            Any technical or handy person willing to learn something new along side the students can
            be a mentor! Students need guidance in project planning, software development, and budgeting.
            Mentors help is invaluable, and PV Robotics is always thankful for it.
            <br>
            <br>
            If you're not comfortable being a mentor but still want to help,
            volunteers can help with T-shirts, meals, travel, shipping logistics, and an especially
            to organize other volunteers. We even need shopping experience because we need to buy a
            lot of materials and tools on a budget. Just being on-hand at meetings to help with whatever
            comes up is welcome!
            <br>
            <br>
            <b>
            In addition to this, you also need to either already have your proper clearances or receive
            your clearances by contacting the Human Resources Office. Contact Susan Angel (sangel@pvsd.org)
            or Karen Zucker (kzucker@pvsd.org) for more information.
            </b>
        </p>
    </div>
</center>
{% endblock %}
